@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   body {
      font-family: 'Rubik', sans-serif;
   }

   .svg-background {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2280' height='860' preserveAspectRatio='none' viewBox='0 0 2280 860'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3crect width='2280' height='860' x='0' y='0' fill='rgba(31%2c 41%2c 55%2c 1)'%3e%3c/rect%3e%3cpath d='M100 860L960 0L1210.5 0L350.5 860z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M536.6000000000001 860L1396.6000000000001 0L1492.6000000000001 0L632.6000000000001 860z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M1006.2000000000002 860L1866.2000000000003 0L2376.2000000000003 0L1516.2000000000003 860z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M2203 860L1343 0L1104.5 0L1964.5 860z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M1759.3999999999999 860L899.3999999999999 0L314.39999999999986 0L1174.3999999999999 860z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M1195.7999999999997 860L335.7999999999997 0L223.29999999999973 0L1083.2999999999997 860z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M1436.775148652386 860L2280 16.77514865238595L2280 860z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M0 860L843.224851347614 860L 0 16.77514865238595z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='2280' height='860' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1046'%3e%3cstop stop-color='rgba(43%2c 185%2c 15%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(43%2c 185%2c 15%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1047'%3e%3cstop stop-color='rgba(43%2c 185%2c 15%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(43%2c 185%2c 15%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
      position: absolute;
      background-size: cover;
      background-attachment: fixed;
      top: 0;
      left: 0;
      width: 100%;
      animation: svgBG 500s linear infinite;
   }

   @keyframes svgBG {
      from {
         background-position: 0 0;
      }

      /*use negative width if you want it to flow right to left else and positive for left to right*/
      to {
         background-position: -10000px 0;
      }
   }


}